.block-constructor {

    .block-adding-buttons {
      background-color: #fafbfe;
      display: flex;

      .block-label {
        flex: 1;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        color: #646777;
        padding-top: 8px;
      }

      .btn-toolbar {
        flex: 3;
        margin: 0;
        .btn-wrap {
          display: flex;
          overflow: auto;
          text-align: center;
          p {
            padding: 0;
            font-weight: 600;
          }
          .btn {
            margin-bottom: 0;
            svg {
              width: 16px;
              height: 16px;
            }
            &.w-fourth {
              padding: 5px 9px;
            }
            &.w-one-third {
              padding: 5px 14px;
            }
            &.w-half {
              padding: 5px 16.5px;
            }
            &.w-third {
              padding: 5px 29px;
            }
            &.w-full {
              padding: 5px 41.5px;
            }
          }
        }
      }
    }

    h4.subhead {
      text-transform: none;
      opacity: 0.9;
      transition: 0.3s;
      margin-bottom: 7px;
    }

    .buffer-blocks-row {
      margin-top: 14px;
    }

    .block-container {
      padding: 0;
      border: 2px dashed #cccccc;
      text-align: center;
      height: 130px;
      overflow-y: scroll;

      &.assembly-block-container {

        height: 266px;

        .drop-area {
          height: 100%;

          .block-element {
            padding: 8px 5px !important;
          }

        }
      }

      .remove-icon {
        padding: 0;
        position: absolute;
        right: 12px;
        top: 6px;
        width: 2px;
        height: 11px;
        opacity: 0.3;
        z-index: 10;
        &:hover {
          opacity: 1;
        }
        &:after, &:before {
          position: absolute;
          content: ' ';
          height: 10px;
          width: 2px;
          background-color: #333;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }

      .drop-area {
        height: 125px;
        padding: 5px 2px 5px 6px;
        p {
          margin: 5px;
          padding: 5px;
          background-color: #ececec;
        }

        &.can-drop {
          background: #f3fdfa;

        }

        &.is-over {
          background: #fafbfe;
        }

        .block-element-wrapper {
          overflow: hidden;
          position: relative;
          margin-bottom: 4px;

          .block-element {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            font-weight: 600;
            padding: 18px 5px;
            border-radius: 5px;
            color: #646777;
            background-color: rgba(234, 238, 255, .6);
            width: 100%;
            box-sizing: border-box;
            border: 0;
            &.is-dragging {
              width: 148px;
            }
            .block-title {
              min-width: 35px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              padding-left: 5px;
            }
            button.btn-edit {
              float: right;
              font-weight: 600;
              font-size: 11px;
              margin: 0 5px 0 0;
              padding: 1px 0 0 0;
              width: 19px;
              height: 17px;
              border-radius: 4px;
            }

          }
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        width: 0;
        background-color: #fff;;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
        background-color: #f0f8ff;
      }
    }
}
