.pagebar {

  width: 100%;
  position: fixed;
  top: 60px;
  height: 60px;
  z-index: 100;
  background: #fff;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);

  .pagebar__wrapper {
    position: relative;
    display: flex;
    height: 60px;

    .pagebar__right {
      right: 0;
      margin-right: 35px;
      position: absolute;
      display: -webkit-flex;
      display: flex;
      height: 100%;

      .pagebar__btn__wrap {
        margin-top: 15px;
        .opted {
         background: #3ea3fc;
        }
        span {
          margin-right: 5px;
        }
        .save-btn {
          svg {
            margin-right: 0;
            margin-left: 0;
          }
        }
      }

    }
  }
}


