.page-templates-editable {
  .react-grid-Grid {
    .react-grid-Canvas {
      overflow: unset !important;
    }
    .rdg-selected {
      border: none !important;
    }
    .drag-handle {
      visibility: hidden !important;
    }
  }
}
